.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #e9f5ee;
  padding: 10px;
  border-radius: 10px;
}

.active {
  font-weight: bold;
  color: #388e3c;
}

.content {
  margin-top: 20px;
  text-align: center;
}
