
body {
    font-family: 'Poppins', sans-serif; 
}
.app-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    background-color: #f0fdf4; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.logo-title h1 {
    font-size: 1.8rem;
    color: #166534; 
    margin: 0;
    letter-spacing: 0.5px; 
    font-weight: 700;
}